@page
@model Lms.Web.Pages.Admin.Users.ChangePasswordModel

@{
    ViewData["Title"] = "تغییر کلمه عبور";
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">صفحه اصلی</a></li>
            <li class="breadcrumb-item active" aria-current="page"> تغییر کلمه عبور </li>
        </ul>
    </nav>
</div>

<form method="post">
    @*<div asp-validation-summary="All"></div>*@
    <div class="col-md-8 col-sm-12 col-xs-12">
        @if (ViewData["IsSuccess"] != null)
        {
            <div class="alert alert-success">
                کلمه عبور شما با موفقیت ویرایش شد
            </div>
        }

        @if (ViewData["InvalidOldPassword"] != null)
        {
            <div class="alert alert-danger">
                <p>کلمه عبور فعلی صحیح نمی باشد</p>
            </div>
        }

        @if (ViewData["NotMatchPassword"] != null)
        {
            <div class="alert alert-danger">
                <p>کلمه های عبور با هم مغایرت دارند !</p>
            </div>
        }

        <div class="x_panel">
            <div class="x_title">
                <h2>
                    تغییر کلمه عبور
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    
                    @*<div class="col-md-7 col-sm-8 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon" id="username"><i class="fa fa-key"></i></span>
                            <input type="text" name="FirstName" class="form-control" asp-for="ChangePassword.OldPassword" placeholder="نام " aria-describedby="username">
                        </div>
                    </div>*@

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            کلمه عبور فعلی :

                        </label>
                        <div class="col-md-8">
                            <input name="oldPassword" asp-for="ChangePassword.OldPassword" required="" class="form-control" placeholder="لطفا کلمه عبور فعلی را وارد کنید" type="password">
                            <span asp-validation-for="ChangePassword.OldPassword" class="text-danger"></span>
                        </div>

                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            کلمه عبور جدید :
                        </label>
                        <div class="col-md-8">
                            <input name="password" asp-for="ChangePassword.Password" required="" class="form-control  " placeholder="لطفا کلمه عبور جدید را وارد کنید" type="password">
                            <span asp-validation-for="ChangePassword.Password" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-7  ">
                            تکرار کلمه عبور جدید :
                        </label>
                        <div class="col-md-8">
                            <input name="rePassword" asp-for="ChangePassword.RePassword" required="" class="form-control  " placeholder="لطفا تکرار کلمه عبور جدید را وارد کنید" type="password">
                            <span asp-validation-for="ChangePassword.RePassword" class="text-danger"></span>
                        </div>
                    </div>

                    <hr class="col-md-12"/>
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">
                            <input type="submit" class="btn btn-success" value="تغییر کلمه عبور"/>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>




