
@{
    ViewData["Title"] = "فعالسازی";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<section class="banner inner-page">
    <div class="banner-img" style="background-image: url(&quot;imagesºnnerquiz.jpg&quot;);"><img src="images\banner\quiz.jpg" alt="" style="display: none;"></div>
    <div class="page-title">
        <div class="container">
            <h1>فعالسازی حساب کاربری</h1>
        </div>
    </div>
</section>

<div class="container">
    @if (ViewBag.IsActive)
    {

        <div class="alert alert-success">
            <p>حساب کاربری شما با موفقیت فعال شد</p>
            <p>
                <a href="/Login">ورود به سایت</a>
            </p>
        </div>
    }
    else
    {
        <div class="alert alert-danger">
            <p>حساب کاربری با مشخصات ارسال شده یافت نشد</p>
        </div>
    }
</div>

