@page
@model Lms.Web.Pages.Admin.Gallery.CreateNewGalleryImageModel
@{
    ViewData["Title"] = "افزودن تصویر";
}

<form enctype="multipart/form-data" method="post">
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    افزودن تصویر جدید
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>
                                تصویر
                            </h2>
                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">
                            <img id="imgAvatar" src="/GalleryImages/CourseDefault.jpg" class="img-thumbnail" />
                            <input name="imgGalleryUp" id="imgGalleryUp" type="file" />
                        </div>
                    </div>
                    <hr class="col-md-12" />
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">
                            <input type="submit" class="btn btn-success" value="ثبت" />
                            <a asp-page="Index" class="btn btn-warning">انصراف</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
   
</form>

@section Scripts
{
    <script>
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgAvatar').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgGalleryUp").change(function () {
            readURL(this);
        });
    </script>
}
