@page "{id}"
@model Lms.Web.Pages.Admin.Gallery.DeleteGalleryModel
@{
    ViewData["Title"] = "حذف تصویر";
}

<form enctype="multipart/form-data" method="post">
    <input type="hidden" asp-for="Gallery.GalleyImageName" />
    <input type="hidden" asp-for="Gallery.GalleryId" />
    <div class="col-md-8 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>
                    حذف تصویر
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    <div class="x_panel">
                        <div class="x_title">
                            <div class="alert alert-danger rounded text-danger">
                                آیا میخواهید این تصویر را حذف نمایید ؟
                            </div>
                            @*<div class="clearfix"></div>*@
                        </div>

                        <div class="x_content">
                            <img id="imgAvatar" src="/GalleryImages/@Model.Gallery.GalleyImageName" class="img-thumbnail" />
                        </div>
                    </div>
                    <hr class="col-md-12" />
                    <div class="item form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-md-offset-5">
                            <input type="submit" class="btn btn-danger" value="حذف" />
                            <a asp-page="Index" class="btn btn-warning">انصراف</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>
