<div style="direction: rtl; padding: 20px">
    <h2>@User.Identity.Name عزیز !</h2>
    <p>
    تا قبل از شروع فرآیند آزمون دسترسی شما مسدود شده است.</p>
    <p>
        <a href="https://localhost:44399/Admin/Users/Profile"> پنل کاربری</a>
    </p>
</div>