<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/js/jquery.min.js"></script>
    <title>my title is lms</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
